<!DOCTYPE html>
<html lang="en" ng-app="EditLaneApp">
<head>
    <!--<title>Login V11</title>
    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-main-user ">
            <div class="wrap-main-user p-l-15 p-r-20 p-t-12 p-b-12">
                <label for="User">&nbspADMIN:  &nbsp </label>
                <label id="User" ng-controller="userInfoController as userCtrl">
                    <a class="txt hov1" href="View Info - All.html">{{userCtrl.userInfo.Email}}</a>
                </label>
                <div class="queue--yama">
                    <div class="queue__item">
                        <h3 class="queue__title" id="Department">Edit Lane</h3>

                        <div class="flex">

                            <div ng-controller="laneEditNameController as nameCtrl">
                                <div class="input-group">
                                    <input class="reset-password-line" name="previousPassword" placeholder="Lane Name" ng-model="nameCtrl.thisLane.LaneName">
                                </div>
                                <div>
                                    <button type="button" class="queue__action2" ng-click="nameCtrl.editLaneName(nameCtrl.thisLane)">Change Lane Name</button>
                                </div>
                            </div>
                            
                        </div>

                        <div class="flex">

                            <div>
                                <div class="select-edit" ng-controller="laneEditAttController as editCtrl">
                                    <select ng-model="editCtrl.selAttID"
                                            ng-options="attOpt for attOpt in editCtrl.attOptions">
                                    </select>
                                    <div>
                                        <button type="button" class="queue__action2" ng-click="editCtrl.editLaneAttendant(editCtrl.thisLane.LaneNumber,editCtrl.selAttID)">Change Attendant</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>


                        <h3 class="queue__title" id="Department">Queue</h3>
                        <div ng-controller="assignedAttController as assignedAttCtrl">
                            <div class="container-login100-form-btn p-t-25" ng-if="assignedAttCtrl.assignedAtt != null">
                                <button id="addNewUser_Button" class="main-user-form-btn-secondary ">
                                    <span>{{assignedAttCtrl.assignedAtt.FirstName + ' ' + assignedAttCtrl.assignedAtt.MiddleName + ' ' + assignedAttCtrl.assignedAtt.LastName}}</span> &nbsp;&nbsp;<span>ID: </span><span>{{assignedAttCtrl.assignedAtt.QueueAttendantID}}</span>
                                </button>
                            </div>
                            <div class="container-login100-form-btn p-t-25" ng-if="assignedAttCtrl.assignedAtt == null">
                                <button id="addNewUser_Button" class="main-user-form-btn-secondary ">
                                    <span>There is no attendant in this lane.</span>
                                </button>
                            </div>
                        </div>
                        <p class="queue__sentence">Currently Serving</p>
                        <div class="queue__price" id="CurrentlyServing" ng-controller="queueListController as queueCtrl">
                            {{queueCtrl.frontQueued}}
                            <span class="queue__period" id="QueueList" ng-repeat="queue in queueCtrl.queueList.slice(1,queueList.length)">{{queue}} &nbsp;</span>
                        </div>
                        <button class="queue__action" id="Reset_Queue" ng-controller="resetQueueController as rstQueueCtrl" ng-click="rstQueueCtrl.resetQueueForLane(rstQueueCtrl.thisLane.LaneNumber)">reset queue</button>


                        <h3 class="queue__title" id="Department">Available Attendants</h3>
                        <div class="container-login100-form-btn p-t-25" ng-controller="viewAttController as viewAttCtrl">
                            <button id="addNewUser_Button" class="main-user-form-btn-secondary " ng-click="viewAttCtrl.selAttID = att.QueueAttendantID" ng-repeat="att in viewAttCtrl.availAtts">
                                <span>{{att.FirstName + ' ' + att.MiddleName + ' ' + att.LastName}}</span> &nbsp;&nbsp;<span>ID: </span><span>{{att.QueueAttendantID}}</span>
                            </button>
                        </div>

                        <button class="queue__action" id="Back" ng-controller="returnPageController as retPageCtrl" ng-click="retPageCtrl.goToMainPage()">back</button>
                    </div>
                    </div>
                    </div>
        </div>
        <!--===============================================================================================-->
        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="scripts/dependencies.js"></script>
        <script src="scripts/Edit Lane - Admin.js"></script>

</body>
</html>