<!DOCTYPE html>
<html lang="en" ng-app="ResetPasswordApp">
<head>
    <!--<title>Login V11</title>
    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<!--===============================================================================================-->

<body>
    <div class="limiter">
        <div class="container-main-user">
            <div class="wrap-main-user">
                <div class="queue--yama">
                    <div class="card middle" ng-model="userInfo" ng-controller="resetPasswordController">
                        <button id="BackViewAccount_Button" class="top-section" ng-click="goBackToViewAccount()">
                            <img src="images/p.png" alt="">
                            <div class="menuicon">
                                <span class="s1"></span>
                                <span class="s2"></span>
                            </div>
                            <div class="name">
                                {{userInfo.FirstName + ' ' + userInfo.MiddleName}} <br>
                                <span>{{userInfo.LastName}}</span>
                            </div>
                        </button>
                        <div class="info-section">
                            <div class="border">
                                <h2>
                                    Previous Password
                                </h2>
                            </div>
                            <div class="wrap-input100 validate-input m-b-16">
                                <input class="reset-password-line" type="password" name="previousPassword" ng-model="oldPassw">
                            </div>
                            <div class="border">
                                <h2>
                                    New Password
                                </h2>
                            </div>

                            <div class="wrap-input100 validate-input m-b-16">
                                <input class="reset-password-line" type="password" name="newPassword" ng-model="newPassw">
                            </div>
                            <h2>
                                <br />
                                <button class="profile-form-btn" ng-click="resetPassword(oldPassw,newPassw)">Change Password</button>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="scripts/dependencies.js"></script>
    <script src="scripts/View Info - All.js"></script>
    <script src="scripts/Reset Password - All.js"></script>
</body>
</html>