<!DOCTYPE html>
<html lang="en" ng-app="ResetPasswordApp">
<head>
    <!--<title>Login V11</title>
    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<!--===============================================================================================-->

<body>
    <div class="limiter">
        <div class="container-main-user">
            <div class="wrap-main-user">
                <div class="queue--yama">
                    <div class="card middle" ng-model="userInfo" ng-controller="resetPasswordController">
                        <button id="BackViewAccount_Button" class="top-section" ng-click="goBackToViewAccount()">
                            <div class="headerAccount">
                                <a ng-click="goBackToViewAccount()">
                                    <input type="button" class="backbutton" id="Back">
                                </a>
                            </div>
                            <img src="images/p.png" alt="">
                            <div class="menuicon">
                                <span class="s1"></span>
                                <span class="s2"></span>
                            </div>
                            <div class="name1">
                                {{userInfo.FirstName + ' ' + userInfo.MiddleName}} <br>
                                <span>{{userInfo.LastName}}</span>
                            </div>
                        </button>
                        <form class="validate-form" name="resetPasswordForm">
                            <div class="m-l-30 m-r-30 m-b-20">
                                <div class="wrap-input100 validate-input m-b-16" data-validate="Old Password is required"
                                     ng-class="{'alert-validate':
                                     (resetPasswordForm.oldPass.$dirty && resetPasswordForm.oldPass.$invalid && !oldPasswFocus || (resetPasswordForm.oldPass.$invalid && resetPasswordForm.$submitted && !oldPasswFocus))}">
                                    <input class="input100" type="password" name="oldPass" placeholder="Old Password" ng-required="true"
                                           ng-model="oldPassw" ng-focus="oldPasswFocus=true;" ng-blur="oldPasswFocus=false">
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <span class="lnr lnr-lock"></span>
                                    </span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-16" data-validate="New Password is required" 
                                     ng-class="{'alert-validate':
                                     (resetPasswordForm.newPassw.$dirty && resetPasswordForm.newPassw.$invalid && !newPasswFocus || (resetPasswordForm.newPassw.$invalid && resetPasswordForm.$submitted && !newPasswFocus))}">
                                    <input class="input100" type="password" name="newPass" placeholder="New Password" ng-required="true"
                                           ng-model="newPassw" ng-focus="newPasswFocus=true;" ng-blur="newPasswFocus=false">
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <span class="lnr lnr-lock"></span>
                                    </span>
                                </div>
                                <div class="container-login100-form-btn p-t-10">
                                    <input type="submit" class="login100-form-btn" value="Change Password"
                                           ng-click="resetPassword(oldPassw,newPassw)">
                                </div>
                            </div>
                        </form>
                        <p class="txt1" ng-bind="notifText"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="scripts/dependencies.js"></script>
    <script src="scripts/View Info - All.js"></script>
    <script src="scripts/Reset Password - All.js"></script>
</body>
</html>